
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div style="margin: 5px">
                <%= @reset_password_message %>
            </div>
            <div style="margin: 5px; display: flex; justify-content: center">
                <a href="<%= @reset_password_url %>" style="text-decoration: none"> 
                    <%= I18n.t 'reset_label' %>
                </a>
            </div>
            <div style="display: block; position: fixed; bottom: 20px;">
                <div class="text-center">
                    <img src="<%= @laastras_banner_image %>" class="img-fluid" id="mail-banner-image" />
                </div>
            </div>
        </div>
    </div>
    <script>
        let width = $('.col-md-8').width();
        $('#mail-banner-image').width(width);
    </script>
</div>