
<br>
<div  class="container">
    <%= react_component('HireOurWork', {
        hire_us_software_solutions_architect: (sanitize @hire_us_software_solutions_architect),
        hire_us_cross_platform_software_engineer: (sanitize @hire_us_cross_platform_software_engineer),
        hire_us_software_project_manager: (sanitize @hire_us_software_project_manager),
        hire_us_laas_leader: (sanitize @hire_us_laas_leader),
        hire_us_contact_string: @hire_us_contact_string,
        hire_us_email: @hire_us_email,
        hire_us_solutions_architect_img_url: @hire_us_solutions_architect_img_url,
        hire_us_software_engineer_img_url: @hire_us_software_engineer_img_url,
        hire_us_project_manager_img_url: @hire_us_project_manager_img_url,
        hire_us_laas_leader_img_url: @hire_us_laas_leader_img_url
    }) %>
</div>
