<div class="container">
    <header>
        <%= react_component('SiteHeader', {
            laastras_actions: @laastras_actions,
            locale_end_point: url_for(controller: 'laastras', action: 'locale'),
            social_media_data: @social_media_data,
            supported_languages: @supported_languages
        }) %>
    </header>

    <hr>

    <main role="main">
        <%= react_component('HomeMain', {
            laastras_sample_services: @laastras_sample_services,
            mission_kick_off_data: @mission_kick_off_data,
            kick_off_section_title: @kick_off,
            click_or_tap_image_text: @tap_click_image,
            laastras_vision_html: (sanitize @laastras_vision),
            vision_title_inner_text: @vision
        })%>
    </main>

    <hr>

    <footer>
        <%= react_component('SiteFooter', {
            footer_actions: @footer_actions,
            social_media_data: @social_media_data,
            copy_right_text: @copy_right
        })%>
    </footer>
</div>
