<div class="container">
    <div>
        <section class="w-50" style="background: grey">
            <div class="card" style="background: white; margin: 3px">
                <h1>Laastras#home</h1>
                <p>Find me in app/views/laastras/home.html.erb</p>
            </div>
        </section>
        <section class="w-50" style="background: grey">
            <div class="card" style="background: white; margin: 3px">
                <h1>Laastras#home</h1>
                <p>Find me in app/views/laastras/home.html.erb</p>
            </div>
        </section>
    </div>
</div>
