
<div class="container-fluid">
    <div style="margin: 40px">
        <div className="row justify-content-center">
            <div className="col-md-8">
                <div class="shadow-sm p-1 mb-2 bg-white rounded">
                    <p style="margin: 20px">
                        <%= sanitize @job_offer %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>