
<div class="container-fluid">
    <header>
        <%= react_component('ToggleNavigationBar', {
            laastras_actions: @laastras_actions,
            logo_image_url: @logo_image_url,
            supported_languages: @supported_languages, 
            locale_end_point: url_for(controller: 'laastras', action: 'locale'),
            social_media_data: @social_media_data,
            home_action_url: url_for(controller: 'laastras', action: 'home'),
            active_language_locale: I18n.locale.to_s
        }) %>
    </header>

    <div  style="margin: 20px">

        <%= react_component('SocialMediaShareResponse', {
            status: @status, # failure or success
            back_url: @back_url,
            back_label: (I18n.t 'back_label'),
            log_message: @log_message
        }) %>

    </div>

    <footer>
        <%= react_component('SiteFooter', {
            footer_actions: @footer_actions,
            social_media_data: @social_media_data,
            copy_right_text: @copy_right
        })%>
    </footer>
</div>
