
<br>
<div class="container">
    <div style="background-color: white">
        <h1><%= I18n.t 'sign_up' %> </h1>
    

        <%= render 'form', user: @user %>

        <%= link_to (I18n.t 'back_label'), users_path %> | 
        <%= link_to (I18n.t 'home_label'), root_path %>
    </div>
</div>
