<% job_offer_title_label = I18n.t 'job_offer_title_label' %>
<% full_name_label = I18n.t 'full_name_label' %>
<% phone_number_label = I18n.t 'phone_number_label' %>
<% location_label = I18n.t 'location_label' %>
<% cv_label = I18n.t 'cv_label' %>
<% cover_letter_label = I18n.t 'cover_letter_label' %>
<% status_label = I18n.t 'status_label' %>
<% select_label = I18n.t 'select_label' %> 
<% reject_label = I18n.t 'reject_label' %>
<% capture_message = @job_offer.nil? ? (I18n.t 'all_applicants_label') : ((I18n.t 'applicants_for_label') + ': ' + @job_offer.title) %>

<div class="container-fluid">
    <div style="margin: 10px" class="text-center"> 
        <h3><%= capture_message %></h3>
    </div>
</div>

<% job_seeker_id = 'job-seeker-id' %>
<% outline_elements = [] %>
<% @laastras_jskers.each do |jsker| %>
    <% user = User.find(jsker.user_id) %>
    <% outline_elements << {
        content_outline_id: "#{job_seeker_id}-#{jsker.id}", 
        content_outline_title: "#{user.first_name} #{user.last_name} (#{jsker.location})"
    } %>
<% end %>

<%= react_component('LaastrasContentOutline', {
    content_outline_capture: (I18n.t 'these_are_available_job_seekers'),
    top_label: (I18n.t 'back_to_top_label'),
    content_outline_elements: outline_elements # {content_outline_id:, content_outline_title:}
})%>

<% @laastras_jskers.each do |laastras_jsker| %>
    <% laastras_user = User.find(laastras_jsker.user_id) %>
    <% status = (
        (
            laastras_jsker.status.nil? || laastras_jsker.status.blank? ? 
            nil : 
            (I18n.t laastras_jsker.status)
        ) || 
        (I18n.t :evaluating.to_s)
    )%>
    <% evaluated = status == (I18n.t :evaluating.to_s) ? false : true %>
    <% evaluator = {
        select_url: url_for(
            controller: 'laastras_job_seekers', 
            action: 'evaluate', 
            id: laastras_jsker.id, 
            status: :selected.to_s
        ),
        reject_url: url_for(
            controller: 'laastras_job_seekers', 
            action: 'evaluate', 
            id: laastras_jsker.id, 
            status: :rejected.to_s
        ),
        status: status,
        status_label: status_label,
        select_label: select_label,
        reject_label: reject_label,
        evaluated: evaluated
    } %>
    <%= react_component('LaastrasJobSeekerShow', {
        profile_photo_url: url_for(
            controller: 'users', 
            action: 'profile_image_show', 
            id: laastras_user.id
        ),
        job_offer_description_url: url_for(
            controller: 'laastras_job_offers', 
            action: 'show', 
            id: laastras_jsker.job_offer_id
        ),
        job_offer_title_label: job_offer_title_label,
        email_label: (I18n.t 'email_label'),
        full_name_label: full_name_label,
        laastras_user: laastras_user,
        phone_number_label: phone_number_label,
        laastras_jsker: laastras_jsker,
        location_label: location_label,
        cv_url: url_for(
            controller: 'laastras_job_seekers', 
            action: 'show_jsk_doc', 
            id: laastras_jsker.id, 
            type: 'cv'
        ),
        cv_label: cv_label,
        cover_letter_url: url_for(
            controller: 'laastras_job_seekers', 
            action: 'show_jsk_doc', 
            id: laastras_jsker.id, 
            type: 'cover_letter'
        ),
        cover_letter_label: cover_letter_label,
        job_seeker_html_id: "#{job_seeker_id}-#{laastras_jsker.id.to_s}",
        evaluator: evaluator
    })%>
<% end %>