
<div class="container" id="user_sign_in_container_div" style="background-color: white">
    <%= react_component('UserSignIn', {
        email: (I18n.t 'email'),
        password: (I18n.t 'password'),
        submit_label: (I18n.t 'submit_label'),
        login_capture: (I18n.t 'login_capture'),
        home_label: (I18n.t 'home_label'),
        home_url: (url_for(controller: 'laastras', action: 'home')),
        sign_up_label: (I18n.t 'sign_up'),
        sign_up_url: (url_for(controller: 'laastras', action: 'sign_up')),
        sign_in_post_action_url: (url_for(controller: 'login', action: 'check_credentials'))
    }) %>
</div>
