
<div class="container-fluid" style="margin: 10px">
    <div class="text-center"> 
        <h3> <%= I18n.t 'website_analytics_label' %> </h3>
    </div>
</div>

<% website_analytics_label = I18n.t 'website_analytics_label' %>
<% number_of_visits_label = I18n.t 'number_of_visits' %>
<% number_of_visitors_label = I18n.t 'number_of_visitors' %>
<% page_visited_label = I18n.t 'page_visited' %>
<% @page_analytics.each do |analytics| %>
    <% analytics_object = {
        number_of_visits_label: number_of_visits_label,
        number_of_visitors_label: number_of_visitors_label, 
        page_visited_label: page_visited_label,
        number_of_visits: analytics[:number_of_visits],
        number_of_visitors: analytics[:number_of_visitors],
        page: analytics[:page]
    } %>
    <%= react_component('LaastrasSiteAnalytics', {
        website_analytics: analytics_object
    }) %>
<% end %>