// Place all the styles related to the laastras controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex-70 {
    flex: 0 0 70%;
    width: 70%;

}

.flex-30 {
    flex: 0 0 30%;
    width: 30%;
}