<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
        <style>
          /* Email styles need to be inline */
          body {
              font-family: 'Nunito', 'Segoe UI', sans-serif;
          }
        </style>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
